@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  --main-color: #00b8a9;
  --second-color: #f8f3d4;
  --third-color: #f6416c;
  --fourth-color: #ffde7d;
}

.secondry_nav {
  max-width: 1200px;
  padding: 0.5rem 1rem;
  margin: auto;
  background: var(--fourth-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.secondry_nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 5rem;
}

.secondry_nav a:hover {
  text-decoration: underline;
}


.section_form {
  max-width: 1200px;
  padding: 1rem;
  border: 3px solid var(--fourth-color);
  margin: auto;
}

.section_form h1 {
  text-align: center;
  text-transform: uppercase;
}

.form {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form_field {
  text-transform: capitalize;

  display: flex;
  justify-content: space-between;
  align-items: center;


  width: 300px;
}

.form_field input {
  padding: 0.2rem 0.3rem;
}

.form button {
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  background: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transform: all 0.3s ease-in-out;
}

.form button:hover {
  opacity: 0.7;
}